.section-about-us{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 960px;
    margin-top: 96px;
}

.section-about-us span{
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 24px;
    color: var(--text-color-red);
}

.section-about-us h1{
    font-size: 48px;
    line-height: 60px;
    font-weight: 600;
    margin-bottom: 36px;
    color: var(--text-color-grey-2);
}

.section-about-us p{
    font-size: 1.25em;
    line-height: 30px;
    font-weight: 400;
    color: var(--text-color-grey);
}