*{
    box-sizing: border-box;
}

:root {
    --text-color-grey: #667085;
    --text-color-grey-2: #101828;
    --text-color-grey-3: #EAECF0;
    --text-color-grey-4: #F9FAFB;
    --text-color-grey-5: #98A2B3;
    --text-color-red: #8E2424;
    --text-color-red-1: #f9f4f4;
    --text-color-white: #FFFFFF;
  }

body, h1, h2, h3, h5, span, ul, li,p, a {
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Inter', Helvetica, Arial, sans-serif;
}