.section-team-vacancies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 768px;
    margin-top: 64px;
    margin: 0 auto;
}

.vacancies-design-info h3, .vacancies-development-info h3{
    text-align: left;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 32px;
}

.vacancies-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    width: 768px;
    height: 136px;
    padding: 24px 24px 28px 24px;
    border-radius: 16px;
    margin-bottom: 24px;
    border: 1px solid var(--text-color-grey-3);
}


.vacancies-card h1 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 20px;
    width: 720px;
    color: var(--text-color-grey-2);
}

.vacancies-card h5 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-right: 24px;
    color: var(--text-color-grey);
}

@media screen and (max-width: 768px) {
    .section-team-vacancies{
        justify-content: center;
    }
    .vacancies-card{
        width: 330px;
    }
}